<% @page_title = "Home" %>
<div class="header">
<%= render(:partial => 'layouts/navbar')%>
</div>
<div  style="align:center;">

<%= render(:partial => 'layouts/slider')%>


</div>
<div class="footer">
<%= render(:partial => 'layouts/footer')%>
</div>