<% @page_title = "Home" %>
<div class="header">
<%= render(:partial => 'layouts/navbar')%>
</div>
<div  style="align:center;">
 <%=image_tag('Defining-Missional-Communities_Milestone_Picture.jpg' ,size:"1200x550")%>
</div>
<div class="footer">
<%= render(:partial => 'layouts/footer')%>
</div>