<% @page_title = "New Resource Cat" %>
<div class="header">
<%= render(:partial => 'layouts/navbar')%>
</div>
<div class="main">
<h1>New Resource</h1>

<%= render 'form' %>

<%= link_to 'Back', resources_path %>
</div>
<div class="footer">
<%= render(:partial => 'layouts/footer')%>
</div>