<%= @page_title ="Admin Menu"%>

<div>
	<h2>Admin Menu</h2>
	<div class="identity">Logged in as:<%= session[:first_name]%></div>
	<ul>
		<li>
	
		<li><%= link_to("Manage Users", :controller => 'users')%></li>
		<li><%= link_to("Logot out", :action => 'logout')%></li>
	</ul>	
	

</div>